# THEORITICAL QUESTIONS

## 1. What are data structures, and why are they important?

In [3]:
#Data structres are used to organize and storing data,so that it can be accessed and manipulate efficiently...
#Data Structures are important beacuse choosing the right data, significantly impacts the efficiency and performance of the data well choosen data
#can be optismized for searching and sorting and efficient for data manipulation it impacts memory usage

## 2. Explain the difference between mutable and immutable data types with examples?

In [7]:
#Mutable data types can be modifiend after the creation whereas immutable data types cannot be modified after creation
#E.G :- List is a mutable data type and tuple is immutable data type 
l = [1,2,3]
l[1] = 4
print(l,"list modified successfully")
t = (1,2,3)
try:
    t[1] = 4
except TypeError:
    print("ERROR,Tuples cannot be modified after the creation")

[1, 4, 3] list modified successfully
ERROR,Tuples cannot be modified after the creation

## 3. What are the main differences between lists and tuples in Python?

In [8]:
#Lists are mutable and tuples are immutable...
#Lists defined using [] square brackets
#tuples defined using () parenthesis
#lists are unhashable therefore lists cannot be used as key in dictionary
#tuples are hashable therefore tuples can be used as key in dictionary

## 4. Describe how dictionaries store data?

In [11]:
#Dictionaries store data in key value pair
#indexing is not possible in dictionaries as they are unordered collection
#dictionary stores key in the form of int,float,boolean data types but it cannot store in the form of special characters
#list cannot used as key in dictionaries beacause it is unhashable data structure
#tuples can be used as key in dictionaries because it is hashable data structure
#but to store a value in dictionaries both lists and tuples can be used to store values in dictionaries

## 5. Why might you use a set instead of a list in Python?

In [12]:
#set is unordered collection of unique items/elements.
#list is ordered collection of items/elements.
#set doesnot allow duplicate elements
#list allows duplicate elements

#USE CASE:-

#If ramesh is going to buy groceries and he is preparing list of items, items that he purchased so he purchased a pack of milk,buttermilk from store1 
#and he purchased another pack of milk from store2 now the list should be written as milk,buttermilk not as milk,milk,buttermilk

## 6. What is a string in Python, and how is it different from a list?

In [13]:
#string is sequence of characters each character represented by numerical values, each character is assigned to a unique value.
#list is an ordered collection of elements which stores heterogeneous data 
#string is eclosed using single,double,triple quotes
#list is enclosed using square brackets
#string can be used for manipulation of textual data
#list can be used for manipulation of seqeuence of elemenst
#elements of string are character
#elements of list can be of any data type
#we can do operation like .lower(), .upper(), .swapcase(), .capitaliz() on strings
#we can do operation like .append(), .pop(), .remove() in list

## 7. How do tuples ensure data integrity in Python?

In [14]:
#Tuples ensure data integrity primarily through immutability.It's immutability prevents th accidental change in tuples
#There are different ways by which tuples ensure it's data integrity:-
# 1) Immutability prevents accidental or unintended changes
# 2) Hashability:- Tuples are hashable it can be used as key in dictionaries, Hash values of tuples depends on it's elements, Immutability maintain the 
#                  hash value constant
# 3) Preservation of order:- tuples are ordered collection of elements, immutability guarantees the order of tuples after the creation
# 4) Reduced risk of bugs:- As tuples cannot be altered after the creation thats why the risk is reduced of bugs

## 8. What is a hash table, and how does it relate to dictionaries in Python?

In [1]:
# Hash table is a data structure use to retrieve efficient data using key. It is based on the concept of hashing, hashing is fucntion used to convert
# key into unique index corresponds to speacific location in a table.
# KEY FEATURES OF HASH TABLE :-
# 1) key-value pair storage :- it stored in the form of key value pair, key maps to value
# 2) hash function :- It is mathematical function used to compute the index for storing key-value pair
# 3) collison handling :- If two values produced same hash values. mechanism like chainig and open addressing use to resolve the conflicts

## 9. Can lists contain different data types in Python?

In [2]:
#Yes,list contains different data types in python such as int,float,bool,string,complex,tuples,set

## 10. Explain why strings are immutable in Python?

In [3]:
#Strings are immutable in python we cannot modify becuse:-
# 1) Storage optimization:- String is widely used in programming, it's immutability allows python to optimize their storage
# 2) Threa saftey:- Strings are inherently thread safe
# 3) Predictibility:- with immutability, string behaves consistenly predictable, Functions and operations using string would easily predict that is's 
#                    value will not change.
# 4) hashing for key-value:- Strings used as key in dictionaries, if strings were immutable then hash values must be not constant as a result
#                            it won't be used as key in dictionaries
# 5) security :- immutability prevents accidental or malcious modification because of this it is safe.

## 11. What advantages do dictionaries offer over lists for certain tasks?

In [5]:
#Dictionaries store data in the form of key-value pair
#use case is if we need emp_id corresponding to it's name then set emp_id as key and name as value.
#use when faster lookups needed
#many data types stored in the form of key e.g:- int,float,bool
#hashable data types can be store as values in dictionary
#It has better organization for complex data.

## 12. Describe a scenario where using a tuple would be preferable over a list?

In [6]:
#lists defined using [] square brackets
#tuples defined using () parenthesis
#Tuples would be preferable when modification of data is not in need
#For Example:- if there's a roll number of students we know that roll numbers of students are fixed 
#other examples :- to store name,age,degree of an individual,class,deparmnets,enrollment number etc.

## 13. How do sets handle duplicate values in Python?

In [8]:
#Sets handle duplicates by simply ensuring unique elements in the sets it silently remove the duplicate element. set is an unordered collection
#of elements

## 14. How does the “in” keyword work differently for lists and dictionaries?

In [10]:
#"in" is a membership operator use to check the membership
#In a list ,"in" is used to check the given value in a sequence 
#In a dictionary,"in" is used to check the given value in present as key(not as value)

## 15. Can you modify the elements of a tuple? Explain why or why not?

In [12]:
#No, the elements of a tuple cannot modify because tuples are immutable that means we cannot change the state or value after the creation.

## 16. What is a nested dictionary, and give an example of its use case?

In [21]:
#Nested dictionary in python is a dictionary where the values of dictionary itself a dictionary
#USE CASE :-
student = {
    "student_1":
    {"name":"sameer","age":18,"grade":"AA"},
    "student_2":
    {"name":"pratik","age":19,"grade":"BB"}
}
print(student)

{'student_1': {'name': 'sameer', 'age': 18, 'grade': 'AA'}, 'student_2': {'name': 'pratik', 'age': 19, 'grade': 'BB'}}

## 17. Describe the time complexity of accessing elements in a dictionary?

In [22]:
#The time complexity of accessing elements in a Python dictionary is typically O(1) (constant time) on average, 
#thanks to its underlying hash table implementation.

## 18. In what situations are lists preferred over dictionaries?

In [23]:
#Lists are preferred over dictionaries when ordered collection of item are in need
#For example :- if there's a menu of restaurant then title of starter must be first heaading of main course must be second and heading of deserts must 
#be third

## 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

In [25]:
#-->>Before Python 3.7: Dictionaries were unordered because their elements were stored based on hash values, and there was no guarantee of maintaining 
#insertion order.
#-->>From Python 3.7 onwards: Dictionaries maintain insertion order, so data retrieval using iteration respects the order in which items were added.
#-->>Impact on Retrieval: The speed of retrieving data using a key (e.g., O(1) access time) is unaffected by whether the dictionary is ordered or unordered, 
#but the ability to rely on insertion order is now a feature in modern Python versions.

## 20. Explain the difference between a list and a dictionary in terms of data retrieval?

In [30]:
#list access data through index
#dictionary access data through key
#list preferred in terms of sequential data 
#dictionary preferred in terms of associative data
#list search data sequentially
#dictionary search elemenst through associativity
#speed to search element in list is slower
#speed to search element in dictionary is faster

# PRACTICAL QUESTIONS

## 1. Write a code to create a string with your name and print it.

In [31]:
name = "sameer"
print(name)

sameer

## 2. Write a code to find the length of the string "Hello World".

In [32]:
len("Hello World")

11

## 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [34]:
x = "Python Programming"
x[:3]

'Pyt'

## 4. Write a code to convert the string "hello" to uppercase.

In [35]:
greeting = "hello"
greeting.upper()

'HELLO'

## 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [37]:
s = "I like apple"
s.replace('apple','orange')

'I like orange'

## 6. Write a code to create a list with numbers 1 to 5 and print it.

In [39]:
l = [1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

## 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [41]:
l1 = [1,2,3,4]
l1.append(10)
print(l1)

[1, 2, 3, 4, 10]

## 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [43]:
l2 = [1,2,3,4,5]
l2.remove(3)
print(l2)

[1, 2, 4, 5]

## 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [44]:
l3 = ['a', 'b', 'c', 'd']
l3[1]

'b'

## 10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [50]:
l4 = [10, 20, 30, 40, 50]
reversed_list = l4[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

## 11.  Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [51]:
t1 = (10,20,30)
print(t1)

(10, 20, 30)

## 12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [53]:
t2 = ('apple', 'banana', 'cherry')
t2[0]

'apple'

## 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [54]:
t3 = (1, 2, 3, 2, 4, 2)
t3.count(2)

3

## 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [55]:
t4 = ('dog', 'cat', 'rabbit')
t4.index("cat")

1

## 15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [57]:
t5 = ('apple', 'orange', 'banana')
if "banana" in t5:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

## 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [58]:
se = {1,2,3,4,5}
print(se)

{1, 2, 3, 4, 5}

## 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [60]:
se1 = {1, 2, 3, 4}
se1.add(6)
print(se1)

{1, 2, 3, 4, 6}

## 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [61]:
t5 = (10,20,30)
print(t5)

(10, 20, 30)

## 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [62]:
t6 = ('apple', 'banana', 'cherry')
t6[0]

'apple'

## 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [63]:
t7 = (1, 2, 3, 2, 4, 2)
t7.count(2)

3

## 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [64]:
t7 = ('dog', 'cat', 'rabbit')
t7.index("cat")

1

## 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [66]:
t8 = ('apple', 'orange', 'banana')
if "banana" in t8:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

## 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [67]:
se2 = {1,2,3,4,5}
print(se2)

{1, 2, 3, 4, 5}

## 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [68]:
se3 = {1, 2, 3, 4}
se3.add(6)
print(se3)

{1, 2, 3, 4, 6}